
05_ARTA.core/.vs/ARTA.core/v15/.suo
05_ARTA.core/.vs/ARTA.core/v15/.suo
06_Implementation/Arta.Standard/.vs/Arta.Standard/v15/.suo
*.ide-shm
*.ide-wal
06_Implementation/Arta.Standard/.vs/Arta.Standard/v15/.suo
*.ide
*.ide
*.ide
06_Implementation/Arta.Standard/.vs/Arta.Standard/v15/sqlite3/storage.ide
*.props
*.json
*.json
*.cache
*.props
*.json
*.dll
*.pdb
*.cache
*.CopyComplete
*.txt
*.csproj
